@model IEnumerable<Instituicao.Models.Aluno>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AluPeriodo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuCPF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuTelefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuDN)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AluPeriodo.PerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuCPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuTelefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuDN)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AluMatricula">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AluMatricula">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AluMatricula">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
