@model Instituicao.Models.Periodo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Periodo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerNumero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerNumero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerSala)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerSala)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerCurso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerCurso.CurID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PerID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
