@model Instituicao.Models.Trabalho

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Trabalho</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TraTitulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TraTitulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TraValor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TraValor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TraNota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TraNota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TraDisciplina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TraDisciplina.DisID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TraOrientador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TraOrientador.OrtID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TraID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
