@model IEnumerable<Instituicao.Models.Trabalho>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TraTitulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TraValor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TraNota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TraDisciplina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TraOrientador)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TraTitulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TraValor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TraNota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TraDisciplina.DisID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TraOrientador.OrtID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TraID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TraID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TraID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
